.icat-license {
    position: relative;
    line-height: 1.2;
    font-size: 1rem;
    background: var(--icat-card-bg);
    color: var(--icat-fontcolor);
    overflow: hidden;
    border: var(--style-border);
    display: block;
    padding: 1rem 1.3rem;
    margin: 1.5rem 0 0.5rem;
    border-radius: 12px
  }
  .icat-license:after {
    position: absolute;
    content: "\e039";
    font-size: 210px;
    font-family: "iconfont";
    color: var(--icat-fontcolor);
    opacity: 0.1;
    filter: blur(6px);
    height: 210px;
    width: 210px;
    right: -40px;
    top: -80px;
  }
  @media screen and (max-width: 768px) {
    .icat-license:after {
      top: auto;
      bottom: -40px;
    }
  }
  
  .icat-license a {
    color: var(--icat-fontcolor);
    border-radius: 6px;
    transition: .5s;
  }
  .icat-license a:hover {
    color: var(--icat-white);
    background: var(--icat-blue);
    padding: 0 4px;
  }
  .icat-license .icat-license-link a {
    opacity: .6;
  }
  .icat-license .icat-license-link a:hover {
    opacity: 1;
  }
  .icat-license-title {
    font-size: 18px;
    font-weight: 600;
  }
  .icat-license-meta-title,.icat-license-title {
    margin: 0 0 .25rem
  }
  .icat-license-link,.icat-license-meta-title {
    font-size: .8rem
  }
  .icat-license-link {
    color: #7a7a7a;
    font-size: .9rem
  }
  .icat-license-meta {
    margin-top: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap
  }
  .icat-license-meta-item {
    margin: 0 2rem 1em 0
  }
  .icat-license-meta-text {
    margin: 0
  }
  .icat-license-tips {
    font-size: .95rem;
  }
  
  /* 版权样式 */